.header .nav a:nth-child(2) {
  color: #00b2e2 !important;
  transition: 200ms;
}

.header .nav a:nth-child(2):after {
  position: absolute;
  visibility: visible !important;
  content: "";
  transition: 200ms;
  background-color: #00b2e2;
  bottom: -24px;
  left: 0;
  height: 4px;
  width: 100%;
}

.banner-about-us {
  position: relative;
  height: 224px;
  width: 100%;
  margin-top: 80px;
  background-image: url(./assets/hakkimizdaBanner.svg);
  background-size: cover;
}

.banner-about-us::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 212, 255, 0) 75%
  );
  top: 0;
  left: 0;
}

.banner-about-us .square {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 32px;
  width: 32px;
  background-color: #fff;
}

.banner-about-us .square:after {
  position: absolute;
  content: "";
  bottom: 32px;
  right: 32px;
  height: 32px;
  width: 32px;
  background-color: #fff;
}

.banner-about-us .banner-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 1;
  border: 1x solid red;
  width: 100%;
  color: #fff;
  bottom: 0;
  padding-inline: 96px;
  padding-block: 24px;
}

.banner-about-us .banner-text .title {
  font-size: 32px;
  font-weight: 600;
}

.about {
  height: max-content !important;
  margin-bottom: 220px !important;
  overflow: visible !important;
}

.about .about-content {
  height: 100% !important;
  background-color: transparent !important;
}

.about .about-image img:nth-child(3) {
  position: absolute;
  left: -116px;
  bottom: -120px;
}

@media screen and (max-width: 576px) {
  .banner-about-us .banner-text {
    padding-inline: 16px;
  }

  .banner-about-us .banner-text .title {
    font-size: 21px;
  }

  .about {
    margin-bottom: 100px !important;
  }
}
