.header .nav a:nth-child(4) {
  color: #00b2e2 !important;
  transition: 200ms;
}

.header .nav a:nth-child(4):after {
  position: absolute;
  visibility: visible !important;
  content: "";
  transition: 200ms;
  background-color: #00b2e2;
  bottom: -24px;
  left: 0;
  height: 4px;
  width: 100%;
}

.banner-communication {
  position: relative;
  height: 224px;
  width: 100%;
  margin-top: 80px;
  background-image: url(./assets/iletisimBanner.svg);
  background-size: cover;
}

.banner-communication::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 212, 255, 0) 75%
  );
  top: 0;
  left: 0;
}

.banner-communication .square {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 32px;
  width: 32px;
  background-color: #fff;
}

.banner-communication .square:after {
  position: absolute;
  content: "";
  bottom: 32px;
  right: 32px;
  height: 32px;
  width: 32px;
  background-color: #fff;
}

.banner-communication .banner-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 1;
  border: 1x solid red;
  width: 100%;
  color: #fff;
  bottom: 0;
  padding-inline: 96px;
  padding-block: 24px;
}

.banner-communication .banner-text .title {
  font-size: 32px;
  font-weight: 600;
}

.projects-one-about {
  position: relative;
  width: 100%;
  padding-inline: 96px;
  /* gap: 32px; */
  margin-bottom: 200px !important;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.projects-two-about {
  position: relative;
  width: 100%;
  padding-inline: 96px;
  /* gap: 32px; */
  margin-bottom: 200px !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.about-content {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-content h1 {
  font-size: 24px;
  font-weight: 600;
}

.about-content p {
  font-size: 18px;
  font-weight: 400;
}

.about-image {
  position: relative;
  height: max-content;
  box-sizing: border-box;
}

.communication {
  padding-inline: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4d4d4d;
}

.communication .communication-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  height: 330px;
  width: 100%;
}

.communication .communication-content h1 {
  font-size: 24px;
  font-weight: 600;
}

.communication .communication-content h3 {
  font-size: 18px;
  font-weight: 500;
}

.communication .communication-content .communication-part {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.communication .communication-content .communication-part div {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

.communication .communication-content button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border: none;
  color: #fff;
  background-color: #00b2e2;

  width: 192px;
  height: 40px;

  padding-block: 8px;
  padding-inline: 16px;
}

.communication .communication-image {
  height: 330px;
}

@media screen and (max-width: 576px) {
  .communication {
    flex-direction: column;
    padding-inline: 16px;
    gap: 52px;
  }

  .banner-communication .banner-text {
    padding-inline: 16px;
  }

  .banner-communication .banner-text .title {
    font-size: 21px;
  }

  .communication .communication-image img {
    height: 100%;
    width: 100%;
  }
}
