* {
  box-sizing: border-box;
  font-family: "Saira" !important;
  margin: 0;
}

body {
  box-sizing: border-box;
  padding: 0;
}

.main-container {
  max-width: 1340px !important;
}

button {
  cursor: pointer;
}
/* 
img {
  width: 100%;
  height: 100%;
} */

button:active {
  transform: scale(0.96);
  transition: transform 200ms;
}

section {
  margin-bottom: 100px;
}

.header {
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  width: 100%;
  box-sizing: border-box;

  padding-inline: 96px;
  background-color: #fff;
}

.header .nav {
  display: flex;
  gap: 48px;
}

.header .nav a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #666666;

  width: max-content;
  height: 32px;

  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: 200ms;
}

.header .nav a::after {
  position: absolute;
  visibility: hidden;
  content: "";
  transition: 200ms;
  background-color: #fff;
  bottom: -24px;
  left: 0;
  height: 4px;
  width: 100%;
}

.header .nav a:hover {
  color: #e28b00;
  transition: 200ms;
}

.header .nav a:hover::after {
  position: absolute;
  visibility: visible;
  content: "";
  transition: 200ms;
  background-color: #e28b00;
  bottom: -24px;
  left: 0;
  height: 4px;
  width: 100%;
}

.header .buttons {
  display: flex;
  gap: 8px;
}

.header .buttons button:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border: 1px solid #e28b00;
  color: #e28b00;
  background-color: transparent;

  width: 120px;
  height: 40px;

  padding-block: 8px;
  padding-inline: 16px;
}

.header .buttons button:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border: none;
  color: #fff;
  background-color: #e28b00;

  width: 192px;
  height: 40px;

  padding-block: 8px;
  padding-inline: 16px;
}

.header .buttons .dropdown .dropbtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border: 1px solid #f0f0f0;
  color: #000;
  background-color: transparent;

  width: 48px;
  height: 40px;

  padding-block: 8px;
  padding-inline: 16px;
}

.header .buttons .dropdown .dropbtn:hover,
.header .buttons .dropdown .dropbtn:focus {
  background-color: #f0f0f0 !important;
}

.header .buttons .dropdown {
  position: relative;
  display: inline-block;
}

.header .buttons .dropdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  border: 1px solid #f0f0f0;
  color: #000;
  background-color: #fff;
  overflow: auto;
  right: 0;
  top: 44px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header .buttons .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header .buttons .dropdown a:hover {
  background-color: #f0f0f0;
}

.header .buttons .dropdown .show {
  display: block;
}

.banner {
  position: relative;
  height: 90vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  overflow: hidden;
}

.banner .banner-content-1 {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-inline: 96px;
  padding-block: 62px;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
  background-color: #fff;
}

.banner .banner-content-2 {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-inline: 96px;
  padding-block: 62px;
  transition: transform 0.5s ease-in-out;
}

.banner .banner-content-3 {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-inline: 96px;
  padding-block: 62px;
  transition: transform 0.5s ease-in-out;
}

.banner .banner-content-4 {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-inline: 96px;
  padding-block: 62px;
  transition: transform 0.5s ease-in-out;
}

.banner .banner-text {
  display: flex;
  flex-direction: column;
  width: 556px;
  margin-bottom: 132px;
  align-items: flex-start;
  justify-content: center;
}

.banner .banner-text h1 {
  font-size: 44px;
  font-weight: 500;
  color: #333333;
}

.banner .banner-text p {
  font-size: 20px;
  font-weight: 400;
  color: #333333;

  line-height: 33px;
  margin-bottom: 32px;
}

.banner .banner-text button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border: none;
  color: #fff;
  background-color: #e28b00;

  width: 154px;
  height: 40px;

  padding-block: 8px;
  padding-inline: 16px;
}

.banner .banner-image {
  position: relative;
  height: 560px;
}

.banner .banner-image .square {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 64px;
  height: 64px;
  background-color: #fff;
}

.banner .banner-image .square:before {
  position: absolute;
  content: "";
  right: 64px;
  bottom: 64px;
  width: 64px;
  height: 64px;
  background-color: #fff;
}

.banner .banner-image .square:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 128px;
  width: 64px;
  height: 64px;
  background-color: #fff;
}

.banner .slider-buttons {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 24px;
  left: 96px;
  bottom: 72px;
  z-index: 5;
}

.banner .slider-buttons button {
  border: none;
  background-color: transparent;
}

.banner .slider-buttons #prev-button {
  opacity: 0.2;
}

.banner .slider-buttons #next-button {
  opacity: 0.6;
}

.banner .slider-buttons .indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: #b3b3b3;
  font-weight: 500;
  letter-spacing: 8px;
  width: 80px;
  padding-left: 12px;
}

.banner .slider-buttons .indicator .first {
  color: #e28b00;
}

.products-main {
  display: flex;
  flex-direction: column;
}

.products-main .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.products-main .title h1 {
  box-sizing: border-box;

  font-size: 40px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  color: #333333;
}

.products-main .title p {
  box-sizing: border-box;

  font-size: 18px;
  font-weight: 400;
  max-width: 1000px;
  line-height: 33px;
  text-align: center;
  color: #333333;
}

.products-main .card-list {
  display: flex;
  justify-content: flex-start;
  padding-block: 72px;
  padding-inline: 96px;
  height: max-content;
  gap: 20px;
}

.products-main .card-list .card {
  position: relative;
  flex: 0 0 auto;
  width: 292px;
  height: 350px;
}

.products-main .card-list .card .back-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.products-main .card-list .card:nth-child(even) {
  margin-top: 80px;
}

.products-main .card-list .card a {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  color: white;
  font-weight: 600;
  bottom: 32px;
  width: 100%;
  padding-inline: 20px;
  box-sizing: border-box;
}

.catalog {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-inline: 96px;
}

.catalog .catalog-image {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 552px;
  height: 328px;
  padding-block: 24px;
}

.catalog .catalog-image::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(./assets/room.svg);
  z-index: -2;
}

.catalog .catalog-image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}

.catalog .catalog-image strong {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 10px;
}

.catalog .catalog-image div:nth-child(1)::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 48px;
  height: 48px;
  background-color: #fff;
}

.catalog .catalog-image div:nth-child(1)::before {
  position: absolute;
  content: "";
  bottom: 48px;
  right: 48px;
  width: 48px;
  height: 48px;
  background-color: #fff;
}

.catalog .catalog-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.catalog .catalog-text h1 {
  color: #333333;
  font-size: 32px;
  font-weight: 600;
  width: 80%;
}

.catalog .catalog-text button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  color: #fff;
  background-color: #e28b00;

  width: 192px;
  height: 40px;

  padding-block: 8px;
  padding-inline: 16px;
}

.about {
  position: relative;
  height: 556px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.about .about-content {
  position: absolute;
  padding-inline-start: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  height: 448px;
  width: 100%;
  box-sizing: border-box;
  background-color: #f0f0f0;
  z-index: -1;
  gap: 20px;
  overflow: hidden;
}

.about .about-content h1 {
  width: 612px;
  box-sizing: border-box;

  color: #333333;
  font-size: 32px;
  font-weight: 600;
}

.about .about-content p {
  width: 45%;
  box-sizing: border-box;

  font-size: 18px;
  font-weight: 400;
  color: #333333;
}

.about .about-content a {
  width: 612px;
  box-sizing: border-box;
  text-decoration: underline;

  font-size: 18px;
  font-weight: 500;
  color: #333333;
}

.about .about-image {
  position: relative;
  top: 0;
  right: 96px;
  height: max-content;
  box-sizing: border-box;
}

.about .about-image .square {
  position: absolute;
  height: 48px;
  width: 48px;
  background-color: #fff;
  top: 0;
  left: 0;
}
.about .about-image .square::after {
  position: absolute;
  content: "";
  height: 48px;
  width: 48px;
  background-color: #fff;
  top: 48px;
  left: 48px;
}

.about .about-image img:nth-child(3) {
  position: absolute;
  left: -116px;
  bottom: -92px;
}

.contact {
  padding-inline: 96px;
  height: 272px;
  overflow: hidden;
}

.contact .contact-content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #e28b00;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 40px;
  padding-inline-start: 40px;
  color: #fff;
}

.contact .contact-content::after {
  position: absolute;
  content: "";
  height: 48px;
  width: 48px;
  top: 0;
  right: 0;
  background-color: #fff;
}

.contact .contact-content::before {
  position: absolute;
  content: "";
  height: 48px;
  width: 48px;
  top: 48px;
  right: 48px;
  background-color: #fff;
}

.contact .contact-content h1 {
  font-family: saira;

  box-sizing: border-box;
  font-size: 32px;
  font-weight: 600;
}

.contact .contact-content p {
  margin-right: 144px !important;
  box-sizing: border-box;
  font-size: 18px;
}

.contact .contact-content .buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding-block: 8px;
  padding-inline: 16px;
  height: 100%;
  box-sizing: border-box;
}
.contact .contact-content .buttons {
  font-size: 14px !important;
  height: 40px;
  display: flex;
  width: max-content;
  gap: 24px;
}

.contact .contact-content .buttons button:nth-child(1) {
  background-color: #fff;
  color: #e28b00;
  border: none;
}

.contact .contact-content .buttons button:nth-child(2) {
  background-color: #e28b00;
  color: #fff;
  border: 1px solid #fff;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: max-content;
  width: 100%;
  background-color: #f0f0f0;
  padding-inline: 96px;
  padding-block: 32px;
  gap: 12px;
  box-sizing: border-box;
  overflow: hidden;
}

.footer .social-media {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer .social-media .icons {
  display: flex;
  gap: 24px;
}

.footer .social-media .icons a {
  display: flex;
  gap: 4px;
  color: #666666;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
}

.footer .nav {
  display: flex;
  justify-content: space-between;
}

.footer .nav ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 260px;
  list-style-type: none;
}

.footer .nav ul li {
  color: #333333;
  font-size: 13px;
  font-weight: 400;
}

.footer .nav ul li:nth-child(1) {
  color: #333333;
  font-size: 18px;
  font-weight: 600;
}

.mobile-menu {
  display: none;
  position: relative;
  color: #4d4d4d;
}

.mobile-menu button {
  border: none;
  background-color: transparent;
}

.mobile-menu button .close {
  display: none;
}

.mobile-menu .mobile-nav {
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 92%;
  right: -100%;
  top: 88px;
  padding-bottom: 40px;
  background-color: #fff;
  z-index: 99;
  transition: right 0.3s ease-in-out; /* Geçiş efekti ekleyin isterseniz */
}

.mobile-menu .mobile-nav .nav-container {
  height: max-content;
  font-size: 21px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.mobile-menu .mobile-nav .nav-container ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.mobile-menu .mobile-nav .nav-container ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu .mobile-nav .nav-container .buttons-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mobile-menu .mobile-nav .nav-container .buttons-nav button:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border: 1px solid #e28b00;
  color: #e28b00;
  background-color: transparent;

  width: 100%;
  height: 40px;

  padding-block: 8px;
  padding-inline: 16px;
}

.mobile-menu .mobile-nav .nav-container .buttons-nav button:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border: none;
  color: #fff;
  background-color: #e28b00;

  width: 100%;
  height: 40px;

  padding-block: 8px;
  padding-inline: 16px;
}
.mobile-menu .mobile-nav .mobile-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 40%;
  text-align: center;
  gap: 16px;
}

.mobile-menu .mobile-nav .mobile-footer div:nth-child(1) .dropdown .dropbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border: 1px solid #f0f0f0;
  color: #000;
  background-color: transparent;

  width: 48px;
  height: 40px;

  padding-block: 8px;
  padding-inline: 16px;
  margin: auto;
}

.mobile-menu
  .mobile-nav
  .mobile-footer
  div:nth-child(1)
  .dropdown
  .dropbtn:hover,
.mobile-menu
  .mobile-nav
  .mobile-footer
  div:nth-child(1)
  .dropdown
  .dropbtn:focus {
  background-color: #f0f0f0 !important;
}

.mobile-menu .mobile-nav .mobile-footer div:nth-child(1) .dropdown {
  position: relative;
  display: inline-block;
}

.mobile-menu
  .mobile-nav
  .mobile-footer
  div:nth-child(1)
  .dropdown
  .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  border: 1px solid #f0f0f0;
  color: #000;
  background-color: #fff;
  overflow: auto;
  bottom: 44px;
  right: -56px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.mobile-menu
  .mobile-nav
  .mobile-footer
  div:nth-child(1)
  .dropdown
  .dropdown-content
  a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.mobile-menu .mobile-nav .mobile-footer div:nth-child(1) .dropdown a:hover {
  background-color: #f0f0f0;
}

.mobile-menu .mobile-nav .mobile-footer div:nth-child(1) .dropdown .show {
  display: block;
}

.mobile-menu .mobile-nav .mobile-footer .img-holder {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.mobile-menu .mobile-nav .mobile-footer div:nth-child(2) {
  font-size: 14px;
}

.mobile-menu .mobile-nav .nav-container .mobile-side-nav {
  display: none;
}

.mobile-menu .mobile-nav .nav-container .mobile-side-nav .back-and-next {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

.mobile-menu .mobile-nav .nav-container .mobile-side-nav .back-and-next div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu .mobile-nav .nav-container .mobile-side-nav a,
.mobile-menu .mobile-nav .nav-container .mobile-side-nav .dropdown-btn {
  padding: 8px 16px 8px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #4d4d4d;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.mobile-menu .mobile-nav .nav-container .mobile-side-nav .dropdown-btn {
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu .mobile-nav .nav-container .mobile-side-nav .dropdown-container {
  height: 0;
  overflow: hidden;
  padding-left: 8px;
  transition: height 0.2s ease;
}

.mobile-menu .mobile-nav .nav-container .mobile-side-nav .dropdown-container a {
  font-size: 14px;
  font-weight: 400;
}

.mobile-menu .mobile-nav .nav-container .mobile-side-nav a:hover,
.mobile-menu .mobile-nav .nav-container .mobile-side-nav .dropdown-btn:hover {
  color: #8c8c8c;
}

@media screen and (max-width: 576px) {
  section {
    margin-bottom: 50px;
  }
  .header {
    padding-block: 52px;
    padding-inline: 16px;
  }
  .header .nav {
    display: none;
  }
  .header .buttons {
    display: none;
  }
  .banner {
    margin-top: 80px;
    width: 100% !important;
  }
  .banner .banner-content-1 {
    padding-inline: 16px;
    padding-top: 200px;
    flex-direction: column-reverse;
    height: max-content;
    gap: 0px;
  }

  .contact .contact-content h1,
  .about .about-content h1,
  .catalog .catalog-text h1,
  .products-main .title h1,
  .banner .banner-text h1 {
    font-size: 24px;
  }

  .contact .contact-content p,
  .about .about-content a,
  .about .about-content p,
  .products-main .title .p,
  .banner .banner-text p {
    font-size: 16px;
  }
  .banner .banner-text {
    width: 100%;
    gap: 0px;
  }
  .banner .banner-image {
    height: max-content;
  }

  .banner .banner-image img {
    width: 100%;
    height: 100%;
  }

  .banner .banner-image .square {
    bottom: 8px;
    width: 36px;
    height: 36px;
  }

  .banner .banner-image .square:before {
    right: 36px;
    bottom: 36px;
    width: 36px;
    height: 36px;
  }

  .banner .banner-image .square:after {
    bottom: 72px;
    width: 36px;
    height: 36px;
  }
  .banner .slider-buttons {
    right: 16px;
    bottom: 40px;
    left: auto;
    gap: 0px;
  }

  .banner .slider-buttons .indicator {
    font-size: 18px;
  }

  .banner .slider-buttons img {
    height: 32px;
    width: 32px;
  }
  .products-main .card-list {
    padding-inline: 16px;
    overflow-x: auto;
  }

  .catalog {
    flex-direction: column;
    padding-inline: 16px;
    gap: 24px;
  }

  .catalog .catalog-image {
    width: 100%;
    padding-block: 12px;
  }
  .catalog .catalog-image strong {
    font-size: 12px;
  }

  .catalog .catalog-image div:nth-child(1)::after {
    width: 32px;
    height: 32px;
  }

  .catalog .catalog-image div:nth-child(1)::before {
    bottom: 32px;
    right: 32px;
    width: 32px;
    height: 32px;
  }

  .about {
    height: max-content;
    flex-direction: column;
    overflow: visible;
    gap: 24px;
    margin-bottom: 120px;
  }
  .about .about-content {
    position: inherit;
    height: max-content;
    padding-inline: 16px;
    padding-block: 16px;
  }

  .about .about-content p {
    width: 100%;
  }

  .about .about-image {
    right: 0;
    padding-inline: 40px;
  }

  .about .about-image img:nth-child(2) {
    width: 100%;
    height: 100%;
  }
  .about .about-image img:nth-child(3) {
    width: max-content;
    height: 60%;
    left: 12px;
    bottom: -40px;
  }

  .about .about-image .square,
  .about .about-image .square::after {
    height: 32px;
    width: 32px;
  }
  .about .about-image .square {
    left: 40px;
  }
  .about .about-image .square::after {
    left: 32px;
    top: 32px;
  }

  .contact {
    padding-inline: 16px;
    height: max-content;
  }

  .contact .contact-content {
    gap: 24px;
    padding-inline: 36px;
  }

  .contact .contact-content p {
    margin-right: 0 !important;
  }

  .contact .contact-content .buttons {
    flex-direction: column;
    height: max-content;
  }

  .contact .contact-content::after {
    height: 32px;
    width: 32px;
  }

  .contact .contact-content::before {
    height: 32px;
    width: 32px;
    top: 32px;
    right: 32px;
  }

  .footer {
    padding-inline: 16px;
  }

  .footer .social-media {
    flex-direction: column;
    gap: 24px;
  }

  .footer .nav {
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;
  }
  .mobile-menu {
    display: block;
    position: relative;
  }
}
