.header .nav a:nth-child(3) {
  color: #e28b00 !important;
  transition: 200ms;
}

.header .nav a:nth-child(3):after {
  position: absolute;
  visibility: visible !important;
  content: "";
  transition: 200ms;
  background-color: #e28b00;
  bottom: -24px;
  left: 0;
  height: 4px;
  width: 100%;
}

.banner-project {
  position: relative;
  height: 224px;
  width: 100%;
  margin-top: 80px;
  background-image: url(./assets/projelerimizBanner.svg);
  background-size: cover;
}

.banner-project::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 212, 255, 0) 75%
  );
  top: 0;
  left: 0;
}

.banner-project .square {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 32px;
  width: 32px;
  background-color: #fff;
}

.banner-project .square:after {
  position: absolute;
  content: "";
  bottom: 32px;
  right: 32px;
  height: 32px;
  width: 32px;
  background-color: #fff;
}

.banner-project .banner-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 1;
  border: 1x solid red;
  width: 100%;
  color: #fff;
  bottom: 0;
  padding-inline: 96px;
  padding-block: 24px;
}

.banner-project .banner-text .title {
  font-size: 32px;
  font-weight: 600;
}

.projects-one-about {
  position: relative;
  width: 100%;
  padding-inline: 96px;
  /* gap: 32px; */
  margin-bottom: 200px !important;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  color: #4d4d4d;
}

.projects-two-about {
  position: relative;
  width: 100%;
  padding-inline: 96px;
  /* gap: 32px; */
  margin-bottom: 200px !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  color: #4d4d4d;
}

.about-content {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-content h1 {
  font-size: 24px;
  font-weight: 600;
}

.about-content p {
  font-size: 18px;
  font-weight: 400;
}

.about-image {
  position: relative;
  height: max-content;
  box-sizing: border-box;
}

.projects-one-about .about-image .square {
  position: absolute;
  height: 48px;
  width: 48px;
  background-color: #fff;
  top: 0;
  left: 0;
}
.projects-one-about .about-image .square::after {
  position: absolute;
  content: "";
  height: 48px;
  width: 48px;
  background-color: #fff;
  top: 48px;
  left: 48px;
}

.projects-two-about .about-image .square {
  position: absolute;
  height: 48px;
  width: 48px;
  background-color: #fff;
  top: 0;
  right: 0;
}
.projects-two-about .about-image .square::after {
  position: absolute;
  content: "";
  height: 48px;
  width: 48px;
  background-color: #fff;
  top: 48px;
  right: 48px;
}

.about-image img:nth-child(3) {
  position: absolute;
  left: -116px;
  bottom: -92px;
}

@media screen and (max-width: 576px) {
  section {
    margin-bottom: 24px !important;
  }
  .banner-project .banner-text {
    padding-inline: 16px;
  }

  .banner-project .banner-text .title {
    font-size: 21px;
  }
  .projects-one-about {
    flex-direction: column;
    gap: 24px;
    padding-inline: 16px;
  }

  .projects-two-about {
    flex-direction: column;
    gap: 24px;
    padding-inline: 16px;
  }

  .about-content {
    width: 100%;
  }

  .about-image img {
    height: 100%;
    width: 100%;
  }

  .projects-one-about .about-image .square {
    height: 32px;
    width: 32px;
  }
  .projects-one-about .about-image .square::after {
    height: 32px;
    width: 32px;
    top: 32px;
    left: 32px;
  }

  .projects-two-about .about-image .square {
    height: 32px;
    width: 32px;
  }
  .projects-two-about .about-image .square::after {
    height: 32px;
    width: 32px;
    top: 32px;
    right: 32px;
  }

  .about-content h1 {
    font-size: 21px;
    font-weight: 600;
  }

  .about-content p {
    font-size: 16px;
    font-weight: 400;
  }
}
