.header .nav a:nth-child(1) {
  color: #00b2e2 !important;
  transition: 200ms;
}

.header .nav a:nth-child(1):after {
  position: absolute;
  visibility: visible !important;
  content: "";
  transition: 200ms;
  background-color: #00b2e2;
  bottom: -24px;
  left: 0;
  height: 4px;
  width: 100%;
}

.banner-products {
  position: relative;
  height: 224px;
  width: 100%;
  margin-top: 80px;
  background-image: url(./assets/urunlerBanner.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-products::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 212, 255, 0) 75%
  );
  top: 0;
  left: 0;
}

.banner-products .square {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 32px;
  width: 32px;
  background-color: #fff;
}

.banner-products .square:after {
  position: absolute;
  content: "";
  bottom: 32px;
  right: 32px;
  height: 32px;
  width: 32px;
  background-color: #fff;
}

.banner-products .banner-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 1;
  border: 1x solid red;
  width: 100%;
  color: #fff;
  bottom: 0;
  padding-inline: 96px;
  padding-block: 16px;
}

.banner-products .banner-text .title {
  font-size: 32px;
  font-weight: 600;
}

.banner-products .banner-text .road {
  font-size: 13px;
}

.products {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding-inline: 96px;
}

.products .side-nav {
  width: 30%;
  height: 1080px;
}

.products .side-nav a,
.products .side-nav .dropdown-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: #4d4d4d;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.products .side-nav .dropdown-btn {
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
}

.products .side-nav .dropdown-container {
  height: 0;
  overflow: hidden;
  padding-left: 8px;
  transition: height 0.2s ease; /* Geçiş efekti */
}

.products .side-nav .dropdown-container a {
  font-size: 14px;
  font-weight: 400;
}

.products .side-nav a:hover,
.products .side-nav .dropdown-btn:hover {
  color: #8c8c8c;
}

.products .products-part {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.products .products-part .products-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 24px;
}

.products .products-part h1 {
  font-size: 24px;
  font-weight: 600;
  color: #4d4d4d;
}

.products .products-part .product-card {
  border: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  /* width: calc(33.33% - 24px); */
  width: 294px;
  height: 296px;
  padding-inline: 16px;
  padding-block: 12px;
}

.products .products-part .product-card img:nth-child(1) {
  padding: 4px;
}

.products .products-part .product-card a {
  text-decoration: none;
  color: #4d4d4d;
}

.products .products-part .product-card .detail-direction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px !important;
  font-weight: 600;
  gap: 32px;
}

.products .slider-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  left: 96px;
  bottom: 72px;
}

.products .slider-buttons button {
  border: none;
  background-color: transparent;
}

.products .slider-buttons #prev-button {
  opacity: 0.2;
}

.products .slider-buttons #next-button {
  opacity: 0.6;
}

.products .slider-buttons .indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  color: #b3b3b3;
  font-weight: 500;
  letter-spacing: 8px;
  width: 40px;
  padding-left: 12px;
}

.products .slider-buttons .indicator .first {
  color: #00b2e2;
}

.product-detail {
  display: flex;
  padding-inline: 96px;
  gap: 52px;
}

.product-detail .detail-image {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 40%;
  gap: 24px;
}

.product-detail .detail-image .title {
  display: none;
}

.product-detail .detail-image .main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 530px;
  width: 530px;
  border: 1px solid #f0f0f0;
}
.product-detail .detail-image .other-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.product-detail .detail-image .other-image div {
  width: 124px;
  height: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f0f0f0;
  padding: 16px;
}

.product-detail .detail-image .other-image div img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.product-detail .detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-detail .detail .explanation {
  display: none;
}

.product-detail .detail h1 {
  font-size: 24px;
}

.product-detail .detail p {
  color: #666666;
  font-size: 18px;
}

.product-detail .detail button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border: none;
  color: #fff;
  background-color: #00b2e2;

  width: 192px;
  height: 40px;

  padding-block: 8px;
  padding-inline: 16px;
}

.same-products {
  display: flex;
  flex-direction: column;
  padding-inline: 96px;
  gap: 32px;
}

.same-products .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.same-products .title .slider-buttons {
  display: flex;
  align-items: center;
  gap: 0px;
  left: 96px;
  bottom: 72px;
  z-index: 5;
}

.same-products .title .slider-buttons button {
  border: none;
  background-color: transparent;
}

.same-products .title .slider-buttons #prev-button {
  opacity: 0.2;
}

.same-products .title .slider-buttons #next-button {
  opacity: 0.6;
}

.same-products .slide-part {
  display: flex;
  gap: 24px;
  height: max-content;
  justify-content: space-between;
}

.same-products .slide-part .product-card {
  border: 1px solid #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 294px;
  height: 296px;
  padding-inline: 16px;
  padding-block: 12px;
}

.same-products .slide-part .product-card img:nth-child(1) {
  padding: 4px;
}

.same-products .slide-part .product-card a {
  text-decoration: none;
  color: #4d4d4d;
}
.same-products .slide-part .product-card .detail-direction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px !important;
  font-weight: 600;
  gap: 32px;
}

@media screen and (max-width: 576px) {
  .banner-products .banner-text {
    padding-inline: 16px;
  }

  .banner-products .banner-text .title {
    font-size: 21px;
  }
  .banner-products .banner-text .road {
    font-size: 11px;
  }

  .banner-products .square {
    height: 24px;
    width: 24px;
  }

  .banner-products .square:after {
    bottom: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
  }

  .products {
    padding-inline: 16px;
  }

  .products .side-nav {
    display: none;
  }

  .products .products-part {
    width: 100% !important;
  }
  .products .products-part h1 {
    font-size: 21px;
  }

  .products .products-part .products-list .product-card {
    width: 100%;
    height: max-content;
  }
  .products .products-part .products-list .product-card strong {
    font-size: 16px;
  }

  .products .products-part .products-list .product-card img:nth-child(1) {
    width: 100%;
    height: 100%;
  }

  .product-detail {
    flex-direction: column;
    padding-inline: 16px;
  }
  .product-detail .detail-image {
    width: 100%;
  }

  .product-detail .detail-image .main-image {
    width: 100%;
    height: max-content;
    padding-inline: 16px;
  }

  .product-detail .detail-image .main-image img {
    width: 100%;
  }

  .product-detail .detail-image .title {
    display: block;
    font-size: 21px;
  }

  .product-detail .detail-image .other-image {
    gap: 8px;
  }

  .product-detail .detail-image .other-image div {
    width: 164px;
    height: 120px;
  }

  .product-detail .detail h1 {
    display: none;
  }

  .product-detail .detail .explanation {
    display: flex;
  }

  .same-products {
    padding-inline: 16px;
  }

  .same-products .title .slider-buttons {
    display: none;
  }

  .same-products .title h1 {
    font-size: 21px;
  }

  .same-products .slide-part {
    overflow: auto;
  }
}
